body {
  background: url("./images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center;*/
}

h1 {
  color: #393e46;
  font-size: 44px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 60px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  text-transform: capitalize;
  list-style: none;
  color: gray;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
small {
  background-color: whitesmoke;
  color: #393e46;
}

.coderwrapper {
  max-width: 900px;
  margin: 30px auto;
}
.appwindow {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  border: 1.5px solid #dbd8e3;
  border-radius: 5px;
  background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: black;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  font-size: 16px;
  position: relative;
  top: -34px;
}
a {
  text-decoration: none;
}
.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
