body {
  background: url("./images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Crimson Text", serif;
}
.form {
  margin-bottom: 30px;
}
.btn {
  border: #393e46;
  background: #393e46;
}
.btn:hover {
  border: #d0b8a8;
  background: #d0b8a8;
  color: #393e46;
  transition: all 200ms linear;
}
h1 {
  color: #393e46;
  font-size: 50px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 25px;
}
.country {
  font-size: 25px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: #352f44;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
li::first-letter {
  text-transform: capitalize;
}
.update-time {
  margin-bottom: 10px;
}
.description {
  font-size: 20px;
  font-weight: 200;
}

.appwindow {
  max-width: 900px;
  margin: 30px auto 10px auto;
  padding: 20px;
  border: 1.5px solid #dbd8e3;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(15px);
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: black;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  font-size: 16px;
  position: relative;
  top: -34px;
}
a {
  text-decoration: none;
}
.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}

hr {
  border-top: 1.5px dotted #393e46;
}

.forecast-title {
  padding: 0;
}
.forecast-text {
  position: relative;
  bottom: -3px;
  font-size: 18px;
  line-height: 1.5px;
}
.top-line {
  margin-top: 15px;
  margin-bottom: 0;
}
.weather-forecast {
  text-align: center;
  margin-top: 5px;
}
.weather-forecast-part {
  border: 1px #dbd8e3;
  border-radius: 8%;
  color: #d0b8a8;
  backdrop-filter: blur(1px);
}
.weather-forecast-day {
  font-size: 22px;
  color: #393e46;
}
.weather-forecast-temperature {
  font-size: 19px;
  color: black;
}
.forecast-descrption {
  opacity: 0.8;
  font-size: 16px;
}
.forecast-descrption::first-letter {
  text-transform: capitalize;
}
.forecast-tempmin {
  opacity: 0.5;
}
.coderwrapper {
  max-width: 900px;
  margin: 30px auto;
}
small {
  width: 500px;
  display: block;
  margin: 0 auto;
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
  padding: 4px;
  color: rgba(255, 255, 255, 0.75);
  background-color: #393e46;
  border: 1.5px solid #393e46;
  border-radius: 10px;
}
